body {
    color: white;
    background: red;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(228, 42, 197);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 172);
}

section {
    background: rgb(156, 211, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}